p {
  font-family: Lato;
}

.content{
  display:grid;
  grid-template-columns: 1fr 1fr;
  padding: 2em;
}
.flex-container{
  display:flex;
  width:100%;
}

.flex-center{
  align-items: center;
  justify-content: center;
}
/* mat-card-content{
  display:grid;
  grid-template-columns: 2fr 1fr;
} */

.content1{

  display:grid;
  grid-template-columns: 2fr 1fr;
}

.score{
  margin-top:.5em;
  margin-left:2em;
  font-size:1.5em
}

.content2{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.fa{
  cursor:pointer;
  font-size:5em;
  color: red;
}

.selectedWeapon{
  color: background;
}

.islandImg{
  position: absolute;
  height: 80%;
  width: 50%;
}

.qmark{
  margin-top: random(5) + em
}

.column {
    float: left;
    width: 48%;
    padding: 10px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.welcome {
  font-size: 2em;
  background-color: #5042f4;
}
