<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Island Hopper Login</title>
        <link rel="stylesheet" href="./bower_components/bootstrap-css-only/css/bootstrap.min.css"></link>
    </head>
    <body>
      <center>
        <br></br>
        <br></br>
        <br></br>
        <h1>Welcome to Island Hopper</h1>
        <div th:if="${param.error}">
            Invalid username and password.
        </div>
        <div th:if="${param.logout}">
            You have been logged out.
        </div>
        <form th:action="@{/login}" method="post">
            <div><label> User Name : <input type="text" name="username"/> </label></div>
            <div><label> Password: <input type="password" name="password"/> </label></div>
            <div><input type="submit" value="Sign In"/></div>
        </form>
      </center>
    </body>
</html>
