<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Island Hopper</title>
    <link rel="stylesheet" href="center.css"></link>
    <link rel="stylesheet" href="./bower_components/bootstrap-css-only/css/bootstrap.min.css"></link>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
    <script src="http://d3js.org/d3.v3.min.js"></script>
</head>
<body>
  <br></br>
  <br></br>
  <br></br>
  <h1>Begin Your Adventure!</h1>
  <h2>Explore the long lost Addition Island!</h2>
  <br></br>
  <br></br>

  <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
  </form>
    <br></br>
    <br></br>
    <input type="button" value="Check Score" onClick="check()"></input>
    <div id="svgHere"></div>
</body>
<script src="gamelevel.js"></script>
</html>
