<div #problemsSection>
  <tr *ngFor="let problem of problems">
    <td *ngIf="problem.operation!=-1">
      <div [ngSwitch]="problem.operation">
        <ng-template [ngSwitchCase]= "0"> <p> {{problem.first}} + {{problem.second}} <a (click)="deleteProblem(problem.id)"><i class="fa fa-trash"></i></a></p></ng-template>
        <ng-template [ngSwitchCase]= "1"> <p> {{problem.first}} - {{problem.second}} <a (click)="deleteProblem(problem.id)"><i class="fa fa-trash"></i></a></p></ng-template>
        <ng-template [ngSwitchCase]= "2"> <p> {{problem.first}} + {{problem.second}} <a (click)="deleteProblem(problem.id)"><i class="fa fa-trash"></i></a></p></ng-template>
      </div>
    <td>
  </tr>

  <form>
    <div>
      <label><input type="radio" name="difficulty" value="5" checked>Easy</label>
      <label><input type="radio" name="difficulty" value="50">Medium</label>
      <label><input type="radio" name="difficulty" value="500">Hard</label>
    </div>
    <div>
      <label><input type="radio" name="oper" value="0" checked>Addition</label>
      <label><input type="radio" name="oper" value="1">Subtraction</label>
      <label><input type="radio" name="oper" value="2">Place Value</label>
    </div>
    <input type="number" #first min="0" max="500" required/>
    <input type="number" #second min="0" max="500" required/>
    <button (click)="createProblem(first.value,second.value)">submit</button>
          <!-- Username: <input #username type="text" name="username" placeholder="username">
          Password: <input #password type="text" name="password" placeholder="password">
          <button (click)="createUser(username.value,password.value)">submit</button> -->
  </form>
</div>
